################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/jsonCavia/.vs/jsonCavia/v16
/jsonCavia/.vs/jsonCavia/config
/jsonCavia/Debug
/jsonCavia/jsonCavia/Debug
/jsonCavia/jsonCavia/x64/Debug
/jsonCavia/x64/Debug
/mecabReply/.vs/mecabReply/v16
