<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WerewolfSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="WerewolfSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="WerewolfSharp.Properties.Settings.WerewolfDatabaseConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Models\WerewolfDatabase.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
  </startup>
  <applicationSettings>
    <WerewolfSharp.Properties.Settings>
      <setting name="AppName" serializeAs="String">
        <value>WerewolfSharp</value>
      </setting>
      <setting name="AppVersion" serializeAs="String">
        <value>DevelopVer-2.0.0</value>
      </setting>
      <setting name="Organization" serializeAs="String">
        <value>©TMCIT - pdm Group 2 -</value>
      </setting>
      <setting name="AppAuthor" serializeAs="String">
        <value>Takunology, OTA, WhiteStonekun, Senpuki-C-Show, Nyabingo</value>
      </setting>
    </WerewolfSharp.Properties.Settings>
  </applicationSettings>
<userSettings>
        <WerewolfSharp.Properties.Settings>
                <setting name="WindowColor" serializeAs="String">
                        <value>76, 105, 241, 255</value>
                </setting>
        </WerewolfSharp.Properties.Settings>
    </userSettings>
</configuration>